@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';

@layer base {
  @font-face {
    font-family: 'Hertical Serif';
    src: url('/fonts/hertical-serif.woff') format('woff');
  }
  @font-face {
    font-family: 'Book Antiqua';
    src: url('/fonts/book-antiqua.ttf') format('ttf');
  }
}

.linear-gradient-card-1 {
  background: linear-gradient(
    180deg,
    rgba(224, 199, 159, 0.35) 27.43%,
    rgba(224, 199, 159, 0) 100%
  );
}

.linear-gradient-card-2 {
  background: linear-gradient(
    180deg,
    rgba(224, 199, 159, 0.75) 30.31%,
    rgba(224, 199, 159, 0) 131.15%
  );
}

.linear-gradient-card-3 {
  background: linear-gradient(
    180deg,
    #c99752 33.06%,
    rgba(201, 151, 82, 0) 100%
  );
}
