@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';

@layer base {
  @font-face {
    font-family: 'Hertical Serif';
    src: url('/fonts/hertical-serif.woff') format('woff');
  }
  @font-face {
    font-family: 'Book Antiqua';
    src: url('/fonts/book-antiqua.ttf') format('ttf');
  }

  body {
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
